<script setup>

const { myChoice, computerChoice, notify } = defineProps({
   myChoice: String,
   computerChoice: String,
   notify: String
})

</script>
<template>
   <div>
      You picked <span>{{ myChoice }}</span>
   </div>
   <div>
      Computer picked <span>{{ computerChoice }}</span>
   </div>
   <div>
      {{ notify }}
   </div>
</template>