<script setup>

import { computed, onMounted, ref } from "vue";
import ButtonItem from "./components/ButtonItem.vue";
import Result from "./components/Result.vue";

const options = ['rock', 'paper', 'scissor'];
const wins = ref(0);
const draws = ref(0);
const losses = ref(0);
const myChoice = ref(null);
const computerChoice = ref(null);
const notify = ref(null);

const results = {
  rock: {
    rock: 'draw',
    paper: 'loss',
    scissor: 'win',
  },
  paper: {
    rock: 'win',
    paper: 'draw',
    scissor: 'loss',
  },
  scissor: {
    rock: 'loss',
    paper: 'win',
    scissor: 'draw',
  }
};

const winPercentage = computed(() => {
  const total = wins.value + draws.value + losses.value;
  return total ? (wins.value / total) * 100 : 0;
});

const play = c => {
  myChoice.value = c;
  const choices = ['rock', 'paper', 'scissor'];
  const randomChoice = Math.floor(Math.random() * choices.length);
  computerChoice.value = choices[randomChoice];
  const result = results[c][computerChoice.value];
  if (result == 'win') {
    wins.value++;
    notify.value = 'You Win !!!'
  } else if (result == 'loss') {
    losses.value++;
    notify.value = 'You Loss !!!';
  } else if (result == 'draw') {
    draws.value++;
    notify.value = "It's a draw !!!"
  }
  saveGame();
}

const saveGame = () => {
  localStorage.setItem('wins', wins.value);
  localStorage.setItem('losses', losses.value);
  localStorage.setItem('draws', draws.value);
}

const loadGame = () => {
  localStorage.getItem('wins');
  localStorage.getItem('losses');
  localStorage.getItem('draws');
}

const resetGame = () => {
  computerChoice.value = null;
  myChoice.value = null;
  notify.value = null;
}

onMounted(() => {
  loadGame();
});

const getImageUrl = (option) => {
  return `/src/assets/${option}.png`;
}

</script>

<template>
  <div class="text-center">
    <header class="container mx-auto p-6">
      <h3>Rock, Paper, Scissor</h3>
    </header>
    <main class="mx-auto container p-6">
      <div v-if="myChoice == null" class="d-flex justify-content-center align-content-center mx-3">
        <div v-for="option in options" :key="option">
          <ButtonItem @click="play(option)" :src="getImageUrl(option)" />
        </div>
      </div>
      <div v-else>
        <Result :myChoice="myChoice" :computerChoice="computerChoice" :notify="notify" />
        <button @click="resetGame">
          Reset Game
        </button>
      </div>
      <div>{{ wins }}:{{ draws }}:{{ losses }}</div>
      <div>Win Rates: {{ Math.round(winPercentage) }}%</div>
    </main>
  </div>
</template>
